body{
    background: #cecece;
}

p{
    color: #222; ;
}

.foto-principal{
    border-top: solid black;
    border-left: ridge black;
    border-radius: 50%;
  /*  border-width: 5px;
    border-color: black0;
    border-style: solid;
    */
}   